<style>
	.bg {
		background-image: url(<%= asset_path 'BG.jpg' %>);
		background-repeat:no-repeat;
		background-size: 100% 100%;
		min-width:1024px;
		min-height:600px;
	}
</style>

<div class='bg'>
	<center>
		<br><br>

		
		<h1><%= image_tag("toufen_logo.png", :style=>'weight:120px;height:60px') %><br>
		頭份工業WEB版管理系統<br></h1>
		
		
		<br>
		已是本系統的用戶？<br><%= link_to "登入", new_session_path, class:"btn btn-large btn-primary" %> <br><br><br>
		<!--還未擁有內視鏡感控的帳號？<br><%= link_to "註冊!", new_user_path %>--><br><br><br>
	</center>
</div>