<div class="container_12">
  <div class="grid_4 height400">
    <table class="fancyTable" id="myTable" cellpadding="0" cellspacing="0">
      <thead>
      <tr>
      	<th>1</th>
        <th>bbb</th>
        <th>aaa</th>
        <th>bbb</th>
        <th>aaa</th>
        <th>bbb</th>
        <th>aaa</th>
        <th>bbb</th>
        <th>aaa</th>
        <th>bbb</th>
        <th>aaa</th>
        <th>bbb</th>
        <th>aaa</th>
        <th>bbb</th>
        <th>aaa</th>
        <th>bbb</th>
        <th>aaa</th>
        <th>bbb</th>
          <th>qqqqqq</th>
          <th>tttttt</th>
          <th>qqqqqq</th>
          <th>tttttt</th>
          <th>qqqqqq</th>
          <th>tttttt</th>
          <th>qqqqqq</th>
          <th>tttttt</th>
          <th>qqqqqq</th>
          <th>tttttt</th>
          <th>qqqqqq</th>
          <th>tttttt</th>
          
      </tr>
      </thead>

      <tbody>
        <tr>
          <td>qqrstuv</td>
          <td>bbb</td>
          <td>aaa</td>
          <td>bbb</td>
          <td>aaa</td>
          <td>bbb</td>
          <td>aaa</td>
          <td>bbb</td>
          <td>aaa</td>
          <td>bbb</td>
          <td>aaa</td>
          <td>bbb</td>
          <td>aaa</td>
          <td>bbb</td>
          <td>aaa</td>
          <td>bbb</td>
          <td>aaa</td>
          <td>bbb</td>
          <td>qqqqqq</td>
          <td>tttttt</td>
          <td>qqqqqq</td>
          <td>tttttt</td>
          <td>qqqqqq</td>
          <td>tttttt</td>
          <td>qqqqqq</td>
          <td>tttttt</td>
          <td>qqqqqq</td>
          <td>tttttt</td>
          <td>qqqqqq</td>
          <td>tttttt</td>
        </tr>
           <tr>
          <td>qqrstuv</td>
          <td>bbb</td>
          <td>aaa</td>
          <td>bbb</td>
          <td>aaa</td>
          <td>bbb</td>
          <td>aaa</td>
          <td>bbb</td>
          <td>aaa</td>
          <td>bbb</td>
          <td>aaa</td>
          <td>bbb</td>
          <td>aaa</td>
          <td>bbb</td>
          <td>aaa</td>
          <td>bbb</td>
          <td>aaa</td>
          <td>bbb</td>
          <td>qqqqqq</td>
          <td>tttttt</td>
          <td>qqqqqq</td>
          <td>tttttt</td>
          <td>qqqqqq</td>
          <td>tttttt</td>
          <td>qqqqqq</td>
          <td>tttttt</td>
          <td>qqqqqq</td>
          <td>tttttt</td>
          <td>qqqqqq</td>
          <td>tttttt</td>
        </tr>
           <tr>
          <td>qqrstuv</td>
          <td>bbb</td>
          <td>aaa</td>
          <td>bbb</td>
          <td>aaa</td>
          <td>bbb</td>
          <td>aaa</td>
          <td>bbb</td>
          <td>aaa</td>
          <td>bbb</td>
          <td>aaa</td>
          <td>bbb</td>
          <td>aaa</td>
          <td>bbb</td>
          <td>aaa</td>
          <td>bbb</td>
          <td>aaa</td>
          <td>bbb</td>
          <td>qqqqqq</td>
          <td>tttttt</td>
          <td>qqqqqq</td>
          <td>tttttt</td>
          <td>qqqqqq</td>
          <td>tttttt</td>
          <td>qqqqqq</td>
          <td>tttttt</td>
          <td>qqqqqq</td>
          <td>tttttt</td>
          <td>qqqqqq</td>
          <td>tttttt</td>
        </tr>
           <tr>
          <td>qqrstuv</td>
          <td>bbb</td>
          <td>aaa</td>
          <td>bbb</td>
          <td>aaa</td>
          <td>bbb</td>
          <td>aaa</td>
          <td>bbb</td>
          <td>aaa</td>
          <td>bbb</td>
          <td>aaa</td>
          <td>bbb</td>
          <td>aaa</td>
          <td>bbb</td>
          <td>aaa</td>
          <td>bbb</td>
          <td>aaa</td>
          <td>bbb</td>
          <td>qqqqqq</td>
          <td>tttttt</td>
          <td>qqqqqq</td>
          <td>tttttt</td>
          <td>qqqqqq</td>
          <td>tttttt</td>
          <td>qqqqqq</td>
          <td>tttttt</td>
          <td>qqqqqq</td>
          <td>tttttt</td>
          <td>qqqqqq</td>
          <td>tttttt</td>
        </tr>
           <tr>
          <td>qqrstuv</td>
          <td>bbb</td>
          <td>aaa</td>
          <td>bbb</td>
          <td>aaa</td>
          <td>bbb</td>
          <td>aaa</td>
          <td>bbb</td>
          <td>aaa</td>
          <td>bbb</td>
          <td>aaa</td>
          <td>bbb</td>
          <td>aaa</td>
          <td>bbb</td>
          <td>aaa</td>
          <td>bbb</td>
          <td>aaa</td>
          <td>bbb</td>
          <td>qqqqqq</td>
          <td>tttttt</td>
          <td>qqqqqq</td>
          <td>tttttt</td>
          <td>qqqqqq</td>
          <td>tttttt</td>
          <td>qqqqqq</td>
          <td>tttttt</td>
          <td>qqqqqq</td>
          <td>tttttt</td>
          <td>qqqqqq</td>
          <td>tttttt</td>
        </tr>
           <tr>
          <td>qqrstuv</td>
          <td>bbb</td>
          <td>aaa</td>
          <td>bbb</td>
          <td>aaa</td>
          <td>bbb</td>
          <td>aaa</td>
          <td>bbb</td>
          <td>aaa</td>
          <td>bbb</td>
          <td>aaa</td>
          <td>bbb</td>
          <td>aaa</td>
          <td>bbb</td>
          <td>aaa</td>
          <td>bbb</td>
          <td>aaa</td>
          <td>bbb</td>        
          <td>qqqqqq</td>
          <td>tttttt</td>
          <td>qqqqqq</td>
          <td>tttttt</td>
          <td>qqqqqq</td>
          <td>tttttt</td>
          <td>qqqqqq</td>
          <td>tttttt</td>
          <td>qqqqqq</td>
          <td>tttttt</td>
          <td>qqqqqq</td>
          <td>tttttt</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<script type="text/javascript">
  $('#myTable').fixedHeaderTable({ 
    altClass: 'odd',
    footer: true,
    fixedColumns: 1
  });
</script>