<!DOCTYPE html>
<html>
<head>
  <title>QC Endo Cloud System</title>
  <%= javascript_include_tag "full", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "full", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body style='background:#333333;'>


<%= yield %>  <!-- body. @xieyinghua -->


</body>
